<!DOCTYPE html>
<html>
  <head>
    {% include "head" %}
    <title>{{template.title}}</title>
    <script src="/uam/js/materialize.js"></script>
    <link rel="stylesheet" href="/uam/css/materialize.css"/>
  </head>
  <body>
    <header>{{template.header}}</header>
    <div id="uam" class="container">
      <h2>{{template.title}}</h2>
      <section v-if="!step">
        <h3>Загрузка...</h3>
      </section>
      <section id="hello" v-if="step=='hello'" class="section">
        <h3>Правила пользования:</h3>
        <p>{{template.rules}}</p>
        <button class="waves-effect btn btn-large red" v-on:click="step='challenge'">Согласен</button>
      </section>
      {% raw %}
      <section id="challenge" class="section" v-if="step=='challenge'" >
        <form v-on:submit.prevent="">
        <div class="input-field col s6">

          <input id="phone" type="tel" name='phone' v-model='phone' />
          <label for="phone">Номер телефона</label>
        </div>
        <button v-for="at in t.auth_types" class="waves-effect btn btn-large blue" v-on:click="challenge(at,phone,null)">{{at.button}}</button>
        </form>
      </section>

      <section class="section" v-if="step=='call_to'">
        <h4>Позвоните по номеру <a :href="'callto:'+call_to">{{call_to}}</a>, после нажмите кнопку</h4>
        <button class="waves-effect btn btn-large blue" v-on:click="check()">Проверить</button>
      </section>
      <section id="status" class="section" v-if="step=='login'">
        <h4>Регистрация успешна!</h4>
        <button class="waves-effect btn btn-large blue" v-on:click="login(response)" v-if="login_button" >Включить Интернет</button>
        <span v-else>Подключение Интернет...</span>
      </section>
      <section id="status" class="section" v-if="step=='status'">
        <h4>Статус: <span class="green-text" v-if="online">в сети</span><span v-else>не в сети</span>
        </h4>
        <div class="red-text" v-if="error">Ошибка авторизации: {{error}}</div>
        <a class="waves-effect waves-red btn-flat" :href="logout_url">Отключиться</a>
        
      </section>
      {% endraw %}
    </div>
    <footer>{{template.footer}}</footer>
  </body>
</html>
